@media only screen and (min-width: 993px) {
    .side_section {
        position: fixed;
        height: 100%;
        max-width: 100%;
        /* display: flex;
        align-items: center;
        flex-wrap: nowrap;
        align-content: space-around;
        flex-direction: column;
        justify-content: space-evenly; */
    }
    
    .projects .card{
        width: 50%;
        margin: 20px auto;
    }
}

.side_section{
  text-align: center;
  background-image: radial-gradient(circle, #f4f4f4, #e5e5e5, #d6d6d6, #c7c7c7, #b9b9b9);
}
